includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 9
    paths:
        - src
    tmpDir: phpstan.cache
    parallel:
        maximumNumberOfProcesses: 1

    # WordPress stubs for type analysis
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php

    ignoreErrors:
        # WordPress constants are defined at runtime during bootstrap
        - message: '#Constant ARRAY_A not found\.#'
          path: src/bootstrap.php
        - message: '#Constant ABSPATH not found\.#'
          path: src/bootstrap.php

        # Plugin implements Pest internal interface (required for plugin system)
        - message: '#Class PestWP\\Plugin implements internal interface Pest\\Contracts\\Plugins\\Bootable\.#'
          path: src/Plugin.php

        # Trait is used by end-users in their Pest.php, not analysed by PHPStan
        - message: '#Trait PestWP\\Concerns\\InteractsWithDatabase is used zero times and is not analysed\.#'
          path: src/Concerns/InteractsWithDatabase.php

        # Custom expectations use $this in closures (bound by Pest at runtime)
        - message: '#Undefined variable: \$this#'
          path: src/Expectations/*.php
        - message: '#Call to method .+ of internal class Pest\\Mixins\\Expectation<TValue> from outside its root namespace Pest\.#'
          path: src/Expectations/*.php
        - message: '#Call to an undefined method Pest\\PendingCalls\\TestCall\|Pest\\Support\\HigherOrderTapProxy::fail\(\)\.#'
          path: src/Expectations/*.php
        - message: '#Part \$\w+ \(mixed\) of encapsed string cannot be cast to string\.#'
          path: src/Expectations/*.php

        # Architecture testing uses Pest internals (required for arch() integration)
        - message: '#Undefined variable: \$this#'
          path: src/Arch/Expectations.php
        - message: '#Variable \$this in PHPDoc tag @var does not exist\.#'
          path: src/Arch/Expectations.php
        - message: '#Call to static method .+ of internal class Pest\\Arch\\.+ from outside its root namespace Pest\.#'
          path: src/Arch/Expectations.php
        - message: '#Return type of anonymous function has typehint with internal class Pest\\Arch\\SingleArchExpectation\.#'
          path: src/Arch/Expectations.php

        # WordPressArchHelper uses dynamically extended expect() methods
        - message: '#Return type of method .+ has typehint with internal class Pest\\Arch\\SingleArchExpectation\.#'
          path: src/Arch/WordPressArchHelper.php
        - message: '#Call to an undefined method Pest\\Expectations\\OppositeExpectation::.+\.#'
          path: src/Arch/WordPressArchHelper.php
        - message: '#Call to an undefined method Pest\\Expectation<.+>::.+\.#'
          path: src/Arch/WordPressArchHelper.php
        - message: '#should return Pest\\Arch\\SingleArchExpectation but returns Pest\\Arch\\Contracts\\ArchExpectation\.#'
          path: src/Arch/WordPressArchHelper.php

        # Arch Expectations class is internal (matches @internal annotation)
        - message: '#Call to static method register\(\) of internal class PestWP\\Arch\\Expectations from outside its root namespace PestWP\.#'
          path: src/functions.php

    # Strictness
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
